<!doctype html>
<html>
  <head>
    <title><%- title %></title>
    <%if (typeof styleUrl != 'undefined') { %>
      <link rel="stylesheet" type="text/css" href="<%- styleUrl %>">
    <% } %>
  </head>
  <body>
    <div id="app"><%- app %></div>
    <%if (typeof scriptUrl != 'undefined') { %>
      <script src="<%- scriptUrl %>" defer></script>
    <% } %>
  </body>
</html>
